<h1>You have {{this.projects.applicants.length}} new application(s)</h1>
<div class="display-flex">
    {{#each project.applicants}}
            <div class="creator-card">
                <h3>{{this.username}} wants to work with you!!</h3>
                <img src="{{this.profileImage}}" width="200" height="200">
                <p>Based in {{this.location}}</p>

                <p>Skills:</p>
                {{#each this.skills}}
                <li>{{this}}</li>
                {{/each}}

                <a href="/users/projects/{{this._id}}">See current projects</a>
                <a href="/users/detail/{{this._id}}">See full profile</a>
                <a href="/project/{{../projectId}}/accept/{{this._id}}"/>Accept in the Team</a>
                <a href="/project/{{../projectId}}/decline/{{this._id}}">Decline application</a>
            </div>
    {{/each}}
</div>
<h2>{{errorMessage}}</h2>
<a href="/project/users/details">Go back to your projects</a>
