<div>
    <h2>{{this.project.title}}</h2>
    <img src="{{this.project.screenshots}}" >
    <p>{{this.project.description}}</p>
    <p>To start on: {{this.project.startDate}} and released on: {{this.project.releaseDate}}</p>
    <p>To work on {{this.project.title}}, the team is looking for talented person working in:</p>
    <ul>
        <li>{{this.project.wantedSkills}}</li>
    </ul>
    <p>If you feel like you have what it takes to join this project, click here!</p>
    
    <form action="/project/add-member/{{this.project.id}}" method="post"><button>Join this project!</button></form>

    <p>The team is based in: {{this.project.location}}</p>
    <h4>The creator of this project is: {{this.project.creator.username}}</h4>
    <h5>List of collaborators involved in this project:</h5>
        <div class="team-members">
            {{#each this.project.team}}
            <a href="/users/detail/{{this._id}}"><p><img src="{{this.profileImage}}" alt="" width="150" height="150">{{this.username}}</p></a>
            {{/each}}
        </div>
</div>
<button><a href="/project/main">go back to all the projects</a></button>
