<div class="project-detail-page-main" >
    <h2 class="project-detail-page-title">{{project.title}}</h2>
    <div class="display-flex">
        <div class="project-detail-page-img-div"><img class="project-detail-page-img" src="{{project.screenshots}}" ></div>
        <section class="project-detail-page-box">    
            <p>Description: {{project.description}}</p>
            {{#if this.project.playableDemo}}
                <a href="{{this.project.playableDemo}}">Playable demo</a>
            {{/if}}

            {{#if project.startDate}}<p>To start on: {{project.startDate}}</p>
                {{else}}
                <p>There was no dates set for this project</p>
            {{/if}}
            {{#if project.releaseDate}}<p>and released on: {{project.releaseDate}}</p>
            {{/if}}
        </section>
    </div>

    {{#if project.wantedSkills}}
        <p>To work on {{this.project.title}}, the team is looking for talented person working in:</p>
        <ul class="skills-list-ul">
            {{#each project.wantedSkills}}
            <li class="skills-list">{{this}}</li>
            {{/each}}
        </ul>
            <form action="/project/details/{{this.project.id}}" method="post">
             <button>Add to favorites</button>
            </form>
            {{#if alreadyApplied}} 
                    <p>You already applied to this project!</p>
                    <a href="/project/application/remove/{{project._id}}">Remove Application</a>
             {{else}}       
                <p>If you feel like you have what it takes to join this project, click here!</p>
                <div class="project-detail-btn"><form action="/project/apply/{{this.project.id}}" method="post"><button>Apply to this project!</button></form></div>
            {{/if}}

    {{else}}
        <p>Unfortunately, this project doesn't need amazing talents such as you!</p>
    {{/if}}

    <p>The team is based in: {{project.location}}</p>

    <section class="project-creator-sect">
            <p>The creator of this project is:</p>
                <div class="project-creator-box">
                  <a href="/users/detail/{{project.creator._id}}">
                    <p>{{project.creator.username}}</p>
                    <img class="project-creator-img" src="{{project.creator.profileImage}}" alt="">
                  </a>
                </div>
    </section>

    <p>List of collaborators involved in this project:</p>
        <div class="team-members">
            {{#each project.team}}
            <a class="team-members-id" href="/users/detail/{{this._id}}"><img class="team-members-img" src="{{this.profileImage}}" alt=""><p>{{this.username}}</p></a>
            {{/each}}
        </div>
    <div class="project-detail-btn"><button><a href="/project/main">go back to all the projects</a></button></div>
</div>

