<h1>All the projects you are involved in</h1>

<p>{{errorMessage}}</p>

{{#each projectsAsCreator}}
    <div>
        <img src="{{this.screenshots}}">
        <h2>{{this.title}}</h2>
        <p>{{this.description}}</p>
        <a href="/project/edit/{{this.id}}">Edit</a>
        <a href="/project/delete/{{this.id}}">Delete</a>
    </div>
{{/each}}

{{#each projectsAsMember}}
    <div>
        <img src="{{this.screenshots}}">
        <h2>{{this.title}}</h2>
        <p>{{this.description}}</p>
    </div>
{{/each}}

<h3><a href="/project/create">NEW</a></h3>
