<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href='/stylesheets/landing_style.css'>
  <title>Team App</title>
</head>
<body>
  <form action='/auth/signup' class="form-signup" enctype="multipart/form-data" method='POST'>
  <div class="create-user"><h1>SIGN UP</h1></div>
    <div class="field-input-div">
        <label class="create-field-input form-label" for=''>Username</label>
        <input class="field-input form-input" type='text' name='username' value="{{username}}">
    </div>
    <div class="field-input-div">
        <label class="create-field-input form-label" for=''>Email</label>
        <input class="field-input form-input" type='email' name='email' value="{{email}}">
    </div>
    <div class="field-input-div">
        <label class="create-field-input form-label" for=''>Phone</label>
        <input class="field-input form-input" type='text' name='phone' value="{{phone}}">
    </div>
    <div class="field-input-div">
        <label class="create-field-input form-label" for=''>Image</label>
        <input class="field-input form-input" type='file' name='image' value="{{image}}">
    </div>
    <div class="field-input-div">
        <label class="create-field-input form-label" for=''>Location</label>
        <input class="field-input form-input" type='text' name='location' value="{{location}}">
    </div>

    <div class="form-entry">
        <label id="skills-label" class="create-field-input form-label" for='' class="form-title">Skills</label>
        </br>
        <div id="checkbox-styling">
          <div class="checkbox-and-title"><input type='checkbox' name='skills' class="form-field" value="2D Graphics"><span class="span-style">2D Graphics</span></div>
          <div class="checkbox-and-title"><input type='checkbox' name='skills' class="form-field" value="3D Graphics"><span class="span-style">3D Graphics</span></div>
          <div class="checkbox-and-title"><input type='checkbox' name='skills' class="form-field" value="Unity"><span class="span-style">Unity</span></div>
          <div class="checkbox-and-title"><input type='checkbox' name='skills' class="form-field" value="Scriptwriting"><span class="span-style">Scriptwriting</span></div>
          <div class="checkbox-and-title"><input type='checkbox' name='skills' class="form-field" value="Pixel Art"><span class="span-style">Pixel Art</span></div>
          <div class="checkbox-and-title"><input type='checkbox' name='skills' class="form-field" value="Music Composition"><span class="span-style">Music Composition</span></div>
          <div class="checkbox-and-title"><input type='checkbox' name='skills' class="form-field" value="Sound Engineering"><span class="span-style">Sound Engineering</span></div>
          <div class="checkbox-and-title"><input type='checkbox' name='skills' class="form-field" value="C++"><span class="span-style">C++</span></div>
          <div class="checkbox-and-title"><input type='checkbox' name='skills' class="form-field" value="Javascript"><span class="span-style">Javascript</span></div>
          <div class="checkbox-and-title"><input type='checkbox' name='skills' class="form-field" value="HTML & CSS"><span class="span-style">HTML and CSS</span></div>
          <div class="checkbox-and-title"><input type='checkbox' name='skills' class="form-field" value="Project Management"><span class="span-style">Project Management</span></div>
          <div class="checkbox-and-title"><input type='checkbox' name='skills' class="form-field" value="Conceptual Design"><span class="span-style">Conceptual Design</span></div>
          <div class="checkbox-and-title"><input type='checkbox' name='skills' class="form-field" value="Beta Testing"><span class="span-style">Beta Testing</span></div>
        </div>
    </div>

    <div class="field-input-div">
        <label class="create-field-input form-label" for=''>Password</label>
        <input class="field-input form-input" type='password' name='password'>
    </div>

    <div class="field-input-div">
        <label class="create-field-input form-label" for=''>Confirm password</label>
        <input class="field-input form-input" type='password' name='confirmPassword'>
    </div>

    <div class="btn-centered-2"><button class="change-btn-2" type='submit'>CREATE ACCOUNT</button></div>
  
  </form>
  <p>{{errorMessage}}</p>
</body>
