<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href='/stylesheets/landing_style.css'>
  <title>Team App</title>
</head>
<body>
  <h1 id="create-heading">SIGN UP</h1>
  <form id="create-form" action='/auth/signup' enctype="multipart/form-data" method='POST'>

    <label class="form-label" for=''>Username</label>
    <input class="form-input" type='text' name='username' value="{{username}}">

    <label class="form-label" for=''>Email</label>
    <input class="form-input" type='email' name='email' value="{{email}}">

    <label class="form-label" for=''>Phone</label>
    <input class="form-input" type='text' name='phone' value="{{phone}}">

    <label class="form-label" for=''>Image</label>
    <input class="form-input" type='file' name='image' value="{{image}}">

    <label class="form-label" for=''>Location</label>
    <input class="form-input" type='text' name='location' value="{{location}}">
  <div class="form-entry">
      <label id="skills-label" for='' class="form-title">SKILLS</label>
      </br>
      <div id="checkbox-styling">
        <div class="checkbox-and-title"><input type='checkbox' name='skills' class="form-field" value="2D Graphics"><span style="color: white; font-family: 'Jura', sans-serif; font-size: 15px;">2D Graphics</span></div>
        <div class="checkbox-and-title"><input type='checkbox' name='skills' class="form-field" value="3D Graphics"><span style="color: white; font-family: 'Jura', sans-serif; font-size: 15px;">3D Graphics</span></div>
        <div class="checkbox-and-title"><input type='checkbox' name='skills' class="form-field" value="Unity"><span style="color: white; font-family: 'Jura', sans-serif; font-size: 15px;">Unity</span></div>
        <div class="checkbox-and-title"><input type='checkbox' name='skills' class="form-field" value="Scriptwriting"><span style="color: white; font-family: 'Jura', sans-serif; font-size: 15px;">Scriptwriting</span></div>
        <div class="checkbox-and-title"><input type='checkbox' name='skills' class="form-field" value="Pixel Art"><span style="color: white; font-family: 'Jura', sans-serif; font-size: 15px;">Pixel Art</span></div>
        <div class="checkbox-and-title"><input type='checkbox' name='skills' class="form-field" value="Music Composition"><span style="color: white; font-family: 'Jura', sans-serif; font-size: 15px;">Music Composition</span></div>
        <div class="checkbox-and-title"><input type='checkbox' name='skills' class="form-field" value="Sound Engineering"><span style="color: white; font-family: 'Jura', sans-serif; font-size: 15px;">Sound Engineering</span></div>
        <div class="checkbox-and-title"><input type='checkbox' name='skills' class="form-field" value="C++"><span style="color: white; font-family: 'Jura', sans-serif; font-size: 15px;">C++</span></div>
        <div class="checkbox-and-title"><input type='checkbox' name='skills' class="form-field" value="Javascript"><span style="color: white; font-family: 'Jura', sans-serif; font-size: 15px;">Javascript</span></div>
        <div class="checkbox-and-title"><input type='checkbox' name='skills' class="form-field" value="HTML & CSS"><span style="color: white; font-family: 'Jura', sans-serif; font-size: 15px;">HTML and CSS</span></div>
        <div class="checkbox-and-title"><input type='checkbox' name='skills' class="form-field" value="Project Management"><span style="color: white; font-family: 'Jura', sans-serif; font-size: 15px;">Project Management</span></div>
        <div class="checkbox-and-title"><input type='checkbox' name='skills' class="form-field" value="Conceptual Design"><span style="color: white; font-family: 'Jura', sans-serif; font-size: 15px;">Conceptual Design</span></div>
        <div class="checkbox-and-title"><input type='checkbox' name='skills' class="form-field" value="Beta Testing"><span style="color: white; font-family: 'Jura', sans-serif; font-size: 15px;">Beta Testing</span></div>
      </div>
  </div>
    <label class="form-label" for=''>Password</label>
    <input class="form-input" type='password' name='password'>

    <label class="form-label" for=''>Confirm password</label>
    <input class="form-input" type='password' name='confirmPassword'>

    <button type='submit'>CREATE ACCOUNT</button>
  </form>
  <p>{{errorMessage}}</p>
</body>
