<h1>EDIT USER</h1>
<form action='/users/edit/{{userToCheck._id}}' enctype="multipart/form-data" method='POST'>
    <div class="field-input-div">
      <label for=''>Username</label>
      <input class="field-input" type='text' value="{{userToCheck.username}}" name='username'>
    </div>

    <div class="field-input-div">
      <label for=''>Email</label>
      <input class="field-input" type='email' value="{{userToCheck.email}}" name='email'>
    </div>

    <div class="field-input-div">
      <label for=''>Phone</label>
      <input class="field-input" type='text' value="{{userToCheck.phone}}" name='phone'>
    </div>

    <div class="field-input-div">
      <label for=''>Image</label>
      <input class="field-input" type='file' value="{{userToCheck.phone}}" name='image'>
    </div>

    <div class="field-input-div">
      <label for=''>Location</label>
      <input class="field-input" type='text' value="{{userToCheck.location}}" name='location'>
    </div>

      <div class="form-entry">
        <label for='' class="form-title">Skills</label>
        </br>
        <div class="checkbox-styling">
          <div class="checkbox-and-title"><input type='checkbox' name='skills' class="form-field" value="2D Graphics"><span>2D Graphics</span></div>
          <div class="checkbox-and-title"><input type='checkbox' name='skills' class="form-field" value="3D Graphics"><span>3D Graphics</span></div>
          <div class="checkbox-and-title"><input type='checkbox' name='skills' class="form-field" value="Unity"><span>Unity</span></div>
          <div class="checkbox-and-title"><input type='checkbox' name='skills' class="form-field" value="Scriptwriting"><span>Scriptwriting</span></div>
          <div class="checkbox-and-title"><input type='checkbox' name='skills' class="form-field" value="Pixel Art"><span>Pixel Art</span></div>
          <div class="checkbox-and-title"><input type='checkbox' name='skills' class="form-field" value="Music Composition"><span>Music Composition</span></div>
          <div class="checkbox-and-title"><input type='checkbox' name='skills' class="form-field" value="Sound Engineering"><span>Sound Engineering</span></div>
          <div class="checkbox-and-title"><input type='checkbox' name='skills' class="form-field" value="C++"><span>C++</span></div>
          <div class="checkbox-and-title"><input type='checkbox' name='skills' class="form-field" value="Javascript"><span>Javascript</span></div>
          <div class="checkbox-and-title"><input type='checkbox' name='skills' class="form-field" value="HTML & CSS"><span>HTML and CSS</span></div>
          <div class="checkbox-and-title"><input type='checkbox' name='skills' class="form-field" value="Project Management"><span>Project Management</span></div>
          <div class="checkbox-and-title"><input type='checkbox' name='skills' class="form-field" value="Conceptual Design"><span>Conceptual Design</span></div>
          <div class="checkbox-and-title"><input type='checkbox' name='skills' class="form-field" value="Beta Testing"><span>Beta Testing</span></div>
        </div>
      </div>

    <div class="field-input-div">
      <label for=''>Old password</label>
      <input class="field-input" type='password' name='password'>
    </div>
    <div class="field-input-div">
      <label for=''>New password</label>
      <input class="field-input" type='password' name='newPassword'>
    </div>
    <div class="field-input-div">
      <label for=''>Confirm password</label>
      <input class="field-input" type='password' name='confirmPassword'>
    </div>

    <div class="btn-centered"><button class="change-btn" type='submit'>Change</button></div>
</form>
<p>{{errorMessage}}</p>