
<div class="profile-view-div">
    
    <div class="profile-view-box">
        <img id="profile-img" src="{{selectedUser.profileImage}}" class="profile-view-img">
        <div class="profile-view-info">
            <h1>Welcome, {{selectedUser.username}}.</h1>
            <p><strong>Hometown:</strong> {{selectedUser.location}}</p>
            <h3>Skills:</h3>
            <ul>
                {{#each selectedUser.skills}}
                <li>{{this}}</li>
                {{/each}}
            </ul>
            <p> <strong>Email:</strong>  {{selectedUser.email}}</p>
            <p> <strong>Phone:</strong>  {{selectedUser.phone}}</p>
            <div class="profile-view-btn-container" >
                <button class="profile-view-btn"><a href="/project/users/details">See current projects</a></button>
            </div>
        </div>
    </div>


    <button class="profile-view-btn"><a href="/users/edit/{{selectedUser._id}}">Edit Profile</a></button>
    <button class="profile-view-btn"><a href="/auth/logout">Log out</a></button>
</div>