<h1>See all of {{selectedUser.username}}'s projects!</h1>
<form action='/users/projects/{{selectedUser._id}}/:search' method='GET'>

  <input type='text' placeholder="Browse for projects" name='search'>

  <button type='submit'>Filter</button>
</form>
<div></div>
{{#each selectedUser.projects}}
    <h2>{{this}}</h2>
{{/each}}
</div>
<div>
{{#each matchingProjects}}
    <h3>{{this.title}}</h3>
{{/each}}
</div>
<p>{{errorMessage}}</p>