<form action='/users/main/:search' method='GET'>
<div class="search-bar-box">
  <input type='text' name='search' placeholder="Look for collaborators" class="search-bar">
  <button type='submit' class="search-bar-btn">Search</button>
</div>

</form>
<div class="user-main-main">
{{#each allUsers}}
    <div class="user-card">
        <img src="{{this.profileImage}}" class="team-members-img">
        <ul>
            <li>{{this.username}}</li>
            <li>{{this.location}}</li>
            <li><strong>Skills: </strong>{{#each this.skills}}{{this}}, {{/each}}</li>
            <li><strong>Projects: </strong>{{#each this.projects}}{{this.title}},  {{/each}}</li>
        </ul>
        <button class="full-details-btn"><a href="/users/detail/{{this._id}}">See full details</a></button>
    </div>
{{/each}}
</div>


<div class="user-main-main">
   <div class="remove-filters-div remove-filters-div2"><button type="button" class="remove-filters"><a href="/users/main">Remove filters</a></button></div>

    {{#each matchingUsers}}
        <div class="user-card">
            <img src="{{this.profileImage}}" class="team-members-img">
            <ul>
                <li>{{this.username}}</li>
                <li>{{this.location}}</li>
                <li><strong>Skills: </strong>{{#each this.skills}}{{this}}, {{/each}}</li>
                <li><strong>Projects: </strong>{{#each this.projects}}{{this.title}},  {{/each}}</li>
            </ul>
            <button class="full-details-btn"><a href="/users/detail/{{this._id}}">See full details</a></button>
        </div>
    {{/each}}
</div>

<p>{{errorMessage}}</p>