<img src="{{selectedUser.profileImage}}" width="200" height="200">
<h1>{{selectedUser.username}}</h1>
<h2>{{selectedUser.location}}</h2>
<h3>Skills</h3>
<p>{{selectedUser.skills}}</p>
<h3>Projects</h3>
<button><a href="/users/projects/{{selectedUser._id}}">See current projects</a></button>
<p>{{selectedUser.email}}</p>
<p>{{selectedUser.phone}}</p>

<form action='/users/detail/{{selectedUser._id}}' method='POST'>
  <button id="favorite-button" type='submit'>Add to favorites</button>
</form>
<button><a href="/users/main">Back to all creators</a></button>