<div>
  <h1>Your favorite creators</h1>
  <div class="btn-centered"><button type="button" class="full-details-btn"><a href="/users/main">Go back</a></button></div>
  <div class="user-main-main">
    {{#each currentUser.favoriteCreators}}
      <div class="user-card">
        <img src="{{this.profileImage}}" class="team-members-img">
        <ul>
            <li>{{this.username}}</li>
            <li>{{this.location}}</li>
            <li><strong>Skills: </strong>{{#each this.skills}}{{this}}, {{/each}}</li>
            <li><strong>Projects: </strong>{{#each this.projects}}{{this.title}},  {{/each}}</li>
        </ul>
        <button class="full-details-btn"><a href="/users/detail/{{this._id}}">See full details</a></button>
        <form action="/users/favorites/{{this._id}}" method="post">
          <button type="submit" class="full-details-btn">Remove</button>
        </form>
      </div>
    {{/each}}
  </div>
</div>


